@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PEPassportCreateViewModel
@{
    ViewData["Title"] = Localizer["Create PE Passport"];
    var returnUrl = ViewBag.ReturnUrl;
    var currentUrl = ViewBag.CurrentUrl;
    bool userCanCreateTrainingCenters = User.CanCreate(ClaimsTypesStore.TrainingCenters);
    bool userCanCreateWelders = User.CanCreate(ClaimsTypesStore.Welders);
}
<h1>@Localizer["Create PE Passport"]</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form enctype="multipart/form-data" asp-controller="@typeof(PEPassportsController).GetNameOfController()"
              asp-action="@nameof(PEPassportsController.Create)" asp-route-returnUrl="@returnUrl" method="post">
            <div class="form-group row mb-3">
                <label asp-for="AVNumber" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span id="LetterSpan" class="input-group-text">@Model.Letter</span>
                        <input asp-for="Letter" class="form-control" readonly hidden/>
                        <input asp-for="AVNumber" class="form-control" placeholder="AV number">
                    </div>
                    <span asp-validation-for="AVNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label asp-for="TrainingCenterID" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <select asp-for="TrainingCenterID" class="form-control" asp-items="@Model.TrainingCenterSelectList" onchange="GetTrainingCenterLetterByTrainingCenterID(this)">
                            <option value="" selected disabled hidden>@Localizer["Choose Training Center"]</option>
                        </select>
                        @if(userCanCreateTrainingCenters){
                            <a id="TrainingCenterSelect" asp-controller="@typeof(TrainingCentersController).GetNameOfController()" asp-action="@nameof(TrainingCentersController.Create)" asp-route-returnUrl="@currentUrl" class="btn btn-primary" type="button">@Localizer["Create"]</a>
                        }
                        <input class="btn btn-primary" type="button" value="@Localizer["Clear"]" />
                    </div>
                    <span asp-validation-for="TrainingCenterID" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label asp-for="PEWelderID" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <select asp-for="PEWelderID" class="form-control" asp-items="@Model.PEWelderSelectList">
                            <option value="" selected disabled hidden>@Localizer["Choose PE Welder"]</option>
                        </select>
                        @if(userCanCreateWelders)
                        {
                            <a asp-controller="@typeof(WeldersController).GetNameOfController()" asp-action="@nameof(WeldersController.Create)" asp-route-returnUrl="@currentUrl" class="btn btn-primary" type="button">@Localizer["Create"]</a>
                        }
                        <input class="btn btn-primary" type="button" value="@Localizer["Clear"]" />
                    </div>
                    <span asp-validation-for="PEWelderID" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-3">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" style="width:auto">@Localizer["Save"]</button>
                    <a href="@returnUrl" class="btn btn-primary" style="width:auto">@Localizer["Cancel"]</a>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/SetTrainingCenterSelectSingle.js"></script>
    <script src="~/js/PEPassports/GetTrainingCenterLetterByTrainingCenterID.js"></script>
    <script src="~/js/PEPassports/GetPEPassportMaxAVNumber.js"></script>
    <script src="~/js/Welders/GetWeldersNotFromTrainingCenterID.js"></script>
}