@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ExaminationEditViewModel

@{
    ViewData["Title"] = @Localizer["Edit Examination"];
    var currentUrl = ViewBag.CurrentUrl;
    var returnUrl = ViewBag.ReturnUrl;
    var userCanCreateExamCenters = User.CanCreate(ClaimsTypesStore.ExamCenters);
    var userCanCreateTrainingCenters = User.CanCreate(ClaimsTypesStore.TrainingCenters);
}

<h1>@Localizer["Edit Examination"]</h1>
<hr />
<br />
<form asp-controller="@typeof(ExaminationsController).GetNameOfController()"
      asp-action="@nameof(ExaminationsController.Edit)" asp-route-returnUrl="@returnUrl" method="post" class="mt-3" onsubmit="PrepareFormOnsubmit()">
    <input type="hidden" asp-for="EncryptedID" />
    <div class="form-group row">
        <label asp-for="ExamDate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            @if(Model.HasCertificates){
                <input asp-for="ExamDate" class="form-control" readonly/>
            }
            else
            {
                <input asp-for="ExamDate" class="form-control" />
            }
        <span asp-validation-for="ExamDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ExamCenterID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="input-group">
                <select asp-for="ExamCenterID" class="form-control" asp-items="Model.ExamCenterItems">
                    <option value="" selected disabled hidden>@Localizer["Choose exam center"]</option>
                </select>
                @if (userCanCreateExamCenters)
                {
                    <div class="input-group-append">
                        <a id="ExamCenterSelect" asp-controller="@typeof(ExamCentersController).GetNameOfController()" asp-action="@nameof(ExamCentersController.Create)" asp-route-returnUrl="@currentUrl" class="btn btn-primary" type="button">@Localizer["Create"]</a>
                    </div>
                }
                <div class="input-group-append">
                    <input class="btn btn-primary reset" type="button" value="@Localizer["Clear"]" />
                </div>
            </div>
            <span asp-validation-for="ExamCenterID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="TrainingCenterID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            @if (Model.HasCertificates)
            {
                <select asp-for="TrainingCenterID" class="form-control" asp-items="Model.TrainingCenterItems" disabled="disabled">
                    <option value="" selected disabled hidden>@Localizer["Choose training center"]</option>
                </select>
            }
            else
            {
                <div class="input-group">
                    <select asp-for="TrainingCenterID" class="form-control" asp-items="Model.TrainingCenterItems">
                        <option value="" selected disabled hidden>@Localizer["Choose training center"]</option>
                    </select>
                    @if (userCanCreateTrainingCenters)
                        {
                            <div class="input-group-append">
                                <a id="TrainingCenterSelect" asp-controller="@typeof(TrainingCentersController).GetNameOfController()" asp-action="@nameof(TrainingCentersController.Create)" asp-route-returnUrl="@currentUrl" class="btn btn-primary" type="button">@Localizer["Create"]</a>
                            </div>
                        }
                    <div class="input-group-append">
                        <input class="btn btn-primary reset" type="button" value="@Localizer["Clear"]" />
                    </div>
                </div>
                <span asp-validation-for="TrainingCenterID" class="text-danger"></span>
            }
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" style="width:auto">@Localizer["Save"]</button>
            <a href="@returnUrl" class="btn btn-primary" style="width:auto">@Localizer["Cancel"]</a>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</form>

@section Scripts {
    <script src="~/js/ResetSelect.js"></script>
    <script src="~/js/Examinations/PrepareFormOnsubmit.js"></script>
}