@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PaginatedList<ExaminationIndexViewModel>

@{
    ViewData["Title"] = Localizer["Examinations Index"];
    var currentUrl = ViewBag.CurrentUrl;
    var userCanReadExaminations = User.CanRead(ClaimsTypesStore.Examinations);
    var userCanEditExaminations = User.CanEdit(ClaimsTypesStore.Examinations);
    var userCanCreateExaminations = User.CanCreate(ClaimsTypesStore.Examinations);
    var userCanDeleteExaminations = User.CanDelete(ClaimsTypesStore.Examinations);
}

<h1>@Localizer["Examinations Index"]</h1>
<hr />
@if (userCanCreateExaminations)
{
    <p>
        <a asp-controller="@typeof(ExaminationsController).GetNameOfController()" asp-action="@nameof(ExaminationsController.Create)" asp-route-returnUrl="@currentUrl">
            @Localizer["Create New"]
        </a>
    </p>
}

<form asp-controller="@typeof(ExaminationsController).GetNameOfController()" asp-action="@nameof(ExaminationsController.Index)" method="get" id="SearchForm">
    <div class="form-actions no-color">
        <p>
            <label for="SearchInput">@Localizer["Find Examination:"]</label>
            <input type="search" name="SearchString" value="@ViewData["CurrentFilter"]" id="SearchInput" />
            <input type="submit" value=@Localizer["Search"] class="btn btn-light" /> |
            <a asp-controller="@typeof(ExaminationsController).GetNameOfController()" asp-action="@nameof(ExaminationsController.Index)">@Localizer["Back to Full List"]</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-controller="@typeof(ExaminationsController).GetNameOfController()" asp-action="@nameof(ExaminationsController.Index)"
                   asp-route-sortOrder="@ViewData["ExamDateSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="text-decoration:none">
                    @Html.DisplayNameFor(p => p.FirstOrDefault().ExamDate)
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "ExamDate_desc")
                    {
                        @Html.Raw(" ▲")
                    }
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "ExamDate_asc")
                    {
                        @Html.Raw(" ▼")
                    }
                </a>
            </th>
            <th>
                <a asp-controller="@typeof(ExaminationsController).GetNameOfController()" asp-action="@nameof(ExaminationsController.Index)"
                   asp-route-sortOrder="@ViewData["CompanyNameTCSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="text-decoration:none">
                    @Html.DisplayNameFor(p => p.FirstOrDefault().CompanyNameTC)
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "CompanyNameTC_desc")
                    {
                        @Html.Raw(" ▲")
                    }
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "CompanyNameTC_asc")
                    {
                        @Html.Raw(" ▼")
                    }
                </a>
            </th>
            <th>
                <a asp-controller="@typeof(ExaminationsController).GetNameOfController()" asp-action="@nameof(ExaminationsController.Index)"
                   asp-route-sortOrder="@ViewData["CompanyNameECSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="text-decoration:none">
                    @Html.DisplayNameFor(p => p.FirstOrDefault().CompanyNameEC)
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "CompanyNameEC_desc")
                    {
                        @Html.Raw(" ▲")
                    }
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "CompanyNameEC_asc")
                    {
                        @Html.Raw(" ▼")
                    }
                </a>
            </th>
            <th>
                <a asp-controller="@typeof(ExaminationsController).GetNameOfController()" asp-action="@nameof(ExaminationsController.Index)"
                   asp-route-sortOrder="@ViewData["NumberOfPassportsSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="text-decoration:none">
                    @Html.DisplayNameFor(p => p.FirstOrDefault().NumberOfPassports)
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "NumberOfPassports_desc")
                    {
                        @Html.Raw(" ▲")
                    }
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "NumberOfPassports_asc")
                    {
                        @Html.Raw(" ▼")
                    }
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var examination in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(vm => examination.ExamDate)
                </td>
                <td>
                    @Html.DisplayFor(vm => examination.CompanyNameTC)
                </td>
                <td>
                    @Html.DisplayFor(vm => examination.CompanyNameEC)
                </td>
                <td>
                    @Html.DisplayFor(vm => examination.NumberOfPassports)
                </td>
                <td>
                    @if (userCanReadExaminations)
                    {
                        <a asp-controller="@typeof(ExaminationsController).GetNameOfController()" asp-action="@nameof(ExaminationsController.Details)"
                           asp-route-id="@examination.EncryptedID" asp-route-returnUrl="@currentUrl">@Localizer["Details"]</a>
                    }
                    @if (userCanEditExaminations)
                    {
                        <text>|</text> <a asp-controller="@typeof(ExaminationsController).GetNameOfController()" asp-action="@nameof(ExaminationsController.Edit)"
                           asp-route-id="@examination.EncryptedID" asp-route-returnUrl="@currentUrl">@Localizer["Edit"]</a>
                    }
                    @if (userCanDeleteExaminations && examination.NumberOfPassports == 0)
                    {
                        <text>|</text> <a asp-controller="@typeof(ExaminationsController).GetNameOfController()" asp-action="@nameof(ExaminationsController.Delete)"
                           asp-route-id="@examination.EncryptedID" asp-route-returnUrl="@currentUrl">@Localizer["Delete"]</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-controller="@typeof(ExaminationsController).GetNameOfController()" asp-action="@nameof(ExaminationsController.Index)"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-light @prevDisabled">
    @Localizer["Previous"]
</a>
<a asp-controller="@typeof(ExaminationsController).GetNameOfController()" asp-action="@nameof(ExaminationsController.Index)"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-light @nextDisabled">
    @Localizer["Next"]
</a>

@section Scripts {
    <script src="~/js/SearchInputClick.js"></script>
}