@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PaginatedList<PEWelderIndexViewModel>

@{
    ViewData["Title"] = Localizer["Welders Index"];
    var currentUrl = ViewBag.CurrentUrl;
    bool userCanReadWelders = User.CanRead(ClaimsTypesStore.Welders);
    bool userCanEditWelders = User.CanEdit(ClaimsTypesStore.Welders);
    bool userCanCreateWelders = User.CanCreate(ClaimsTypesStore.Welders);
    bool userCanDeleteWelders = User.CanDelete(ClaimsTypesStore.Welders);
}

<h1>@Localizer["Welders Index"]</h1>
<hr />
@if (userCanCreateWelders)
{
    <p>
        <a asp-controller="@typeof(WeldersController).GetNameOfController()" asp-action="@nameof(WeldersController.Create)" asp-route-returnUrl="@currentUrl">
            @Localizer["Create New"]
        </a>
    </p>
}

<form asp-controller="@typeof(WeldersController).GetNameOfController()" asp-action="@nameof(WeldersController.Index)" method="get" id="SearchForm">
    <div class="form-actions no-color">
        <p>
            <label for="SearchInput">@Localizer["Find Welder:"]</label>
            <input type="search" name="SearchString" value="@ViewData["CurrentFilter"]" id="SearchInput" />
            <input type="submit" value=@Localizer["Search"] class="btn btn-light" /> |
            <a asp-controller="@typeof(WeldersController).GetNameOfController()" asp-action="@nameof(WeldersController.Index)">
                @Localizer["Back to Full List"]
            </a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-controller="@typeof(WeldersController).GetNameOfController()" asp-action="@nameof(WeldersController.Index)"
                   asp-route-sortOrder="@ViewData["FirstNameSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="text-decoration:none">
                    @Html.DisplayNameFor(p => p.FirstOrDefault().FirstName)
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "FirstName_desc")
                    {
                        @Html.Raw(" ▲")
                    }
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "FirstName_asc")
                    {
                        @Html.Raw(" ▼")
                    }
                </a>
            </th>
            <th>
                <a asp-controller="@typeof(WeldersController).GetNameOfController()" asp-action="@nameof(WeldersController.Index)"
                   asp-route-sortOrder="@ViewData["LastNameSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="text-decoration:none">
                    @Html.DisplayNameFor(p => p.FirstOrDefault().LastName)
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "LastName_desc")
                    {
                        @Html.Raw(" ▲")
                    }
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "LastName_asc")
                    {
                        @Html.Raw(" ▼")
                    }
                </a>
            </th>
            <th>
                <a asp-controller="@typeof(WeldersController).GetNameOfController()" asp-action="@nameof(WeldersController.Index)"
                   asp-route-sortOrder="@ViewData["AVNumberSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="text-decoration:none">
                    @Html.DisplayNameFor(p => p.FirstOrDefault().AVNumber)
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "AVNumber_desc")
                    {
                        @Html.Raw(" ▲")
                    }
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "AVNumber_asc")
                    {
                        @Html.Raw(" ▼")
                    }
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var welder in Model)
        {
            <tr class="@welder.Color" data-toggle="tooltip" title="@Localizer[welder.Tooltip ?? String.Empty]">
                <td>
                    @Html.DisplayFor(vm => welder.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(vm => welder.LastName)
                </td>
                <td>
                    @Html.DisplayFor(vm => welder.Letter)
                    @Html.DisplayFor(vm => welder.AVNumber)
                </td>
                <td>
                    @if (userCanReadWelders)
                    {
                        <a asp-controller="@typeof(WeldersController).GetNameOfController()" asp-action="@nameof(WeldersController.Details)"
                            asp-route-id="@welder.EncryptedID" asp-route-returnUrl="@currentUrl">@Localizer["Details"]</a>
                    }
                    @if (userCanEditWelders)
                    {
                        <text>|</text> <a asp-controller="@typeof(WeldersController).GetNameOfController()" asp-action="@nameof(WeldersController.Edit)" 
                        asp-route-id="@welder.EncryptedID" asp-route-returnUrl="@currentUrl">@Localizer["Edit"]</a>
                    }
                    @if (userCanDeleteWelders)
                    {
                        <text>|</text> <a asp-controller="@typeof(WeldersController).GetNameOfController()" asp-action="@nameof(WeldersController.Delete)" 
                        asp-route-id="@welder.EncryptedID" asp-route-returnUrl="@currentUrl">@Localizer["Delete"]</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-controller="@typeof(WeldersController).GetNameOfController()" asp-action="@nameof(WeldersController.Index)"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-light @prevDisabled">
    @Localizer["Previous"]
</a>
<a asp-controller="@typeof(WeldersController).GetNameOfController()" asp-action="@nameof(WeldersController.Index)"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-light @nextDisabled">
    @Localizer["Next"]
</a>

@section Scripts {
    <script src="~/js/SearchInputClick.js"></script>
}