@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PaginatedList<CompanyContactIndexViewModel>

@{
    ViewData["Title"] = Localizer["Contacts Index"];
    var currentUrl = ViewBag.CurrentUrl;

    bool userCanReadCompanyContacts = User.CanRead(ClaimsTypesStore.CompanyContacts);
    bool userCanEditCompanyContacts = User.CanEdit(ClaimsTypesStore.CompanyContacts);
    bool UserCanCreateCompanyContacts = User.CanCreate(ClaimsTypesStore.CompanyContacts);
    bool UserCanDeleteCompanyContacts = User.CanDelete(ClaimsTypesStore.CompanyContacts);
}

<h1>@Localizer["Contacts Index"]</h1>
<hr />
@if (UserCanCreateCompanyContacts)
{
    <p>
        <a asp-action="@nameof(CompanyContactsController.Create)" asp-controller="@typeof(CompanyContactsController).GetNameOfController()" asp-route-returnUrl="@currentUrl">
            @Localizer["Create New"]
        </a>
    </p>
}

<form asp-action="@nameof(CompanyContactsController.Index)" asp-controller="@typeof(CompanyContactsController).GetNameOfController()" method="get" id="SearchForm">
    <div class="form-actions no-color">
        <p>
            <label for="SearchInput">@Localizer["Find Contact:"]</label>
            <input type="search" name="SearchString" value="@ViewData["CurrentFilter"]" id="SearchInput" />
            <input type="submit" value=@Localizer["Search"] class="btn btn-light" /> |
            <a asp-controller="@typeof(CompanyContactsController).GetNameOfController()" asp-action="@nameof(CompanyContactsController.Index)">@Localizer["Back to Full List"]</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="@nameof(CompanyContactsController.Index)" asp-controller="@typeof(CompanyContactsController).GetNameOfController()"
                   asp-route-sortOrder="@ViewData["FirstName"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @Html.DisplayNameFor(p => p.FirstOrDefault().FirstName)
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "FirstName_desc")
                    {
                        @Html.Raw(" ▲")
                    }
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "FirstName_asc")
                    {
                        @Html.Raw(" ▼")
                    }
                </a>
            </th>
            <th>
                <a asp-controller="@typeof(CompanyContactsController).GetNameOfController()" asp-action="@nameof(CompanyContactsController.Index)"
                   asp-route-sortOrder="@ViewData["LastName"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @Html.DisplayNameFor(p => p.FirstOrDefault().LastName)
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "LastName_desc")
                    {
                        @Html.Raw(" ▲")
                    }
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "LastName_asc")
                    {
                        @Html.Raw(" ▼")
                    }
                </a>
            </th>
            <th>
                <a asp-controller="@typeof(CompanyContactsController).GetNameOfController()" asp-action="@nameof(CompanyContactsController.Index)"
                   asp-route-sortOrder="@ViewData["Email"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @Html.DisplayNameFor(p => p.FirstOrDefault().Email)
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "Email_desc")
                    {
                        @Html.Raw(" ▲")
                    }
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "Email_asc")
                    {
                        @Html.Raw(" ▼")
                    }
                </a>
            </th>
            <th>
                <a asp-controller="@typeof(CompanyContactsController).GetNameOfController()" asp-action="@nameof(CompanyContactsController.Index)"
                   asp-route-sortOrder="@ViewData["UserName"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @Html.DisplayNameFor(p => p.FirstOrDefault().UserName)
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "UserName_desc")
                    {
                        @Html.Raw(" ▲")
                    }
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "UserName_asc")
                    {
                        @Html.Raw(" ▼")
                    }
                </a>
            </th>
            <th>
                <a asp-controller="@typeof(CompanyContactsController).GetNameOfController()" asp-action="@nameof(CompanyContactsController.Index)"
                   asp-route-sortOrder="@ViewData["RoleName"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @Html.DisplayNameFor(p => p.FirstOrDefault().RoleName)
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "RoleName_desc")
                    {
                        @Html.Raw(" ▲")
                    }
                    @if (Convert.ToString(ViewData["CurrentSort"]) == "RoleName_asc")
                    {
                        @Html.Raw(" ▼")
                    }
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(vm => contact.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(vm => contact.LastName)
                </td>
                <td>
                    @Html.DisplayFor(vm => contact.Email)
                </td>
                <td>
                    @Html.DisplayFor(vm => contact.UserName)
                </td>
                <td>
                    @Html.DisplayFor(vm => contact.RoleName)
                </td>
                <td>
                    @if (userCanReadCompanyContacts)
                    {
                        <a asp-controller="@typeof(CompanyContactsController).GetNameOfController()" asp-action="@nameof(CompanyContactsController.Details)"
                           asp-route-id="@contact.EncryptedID" asp-route-returnUrl="@currentUrl">@Localizer["Details"]</a>
                    }
                    @if (userCanEditCompanyContacts)
                    {
                        <text>|</text> <a asp-controller="@typeof(CompanyContactsController).GetNameOfController()" asp-action="@nameof(CompanyContactsController.Edit)"
                           asp-route-id="@contact.EncryptedID" asp-route-returnUrl="@currentUrl">@Localizer["Edit"]</a>
                    }
                    @if (UserCanDeleteCompanyContacts && contact.RoleName == null)
                    {
                        <text>|</text> <a asp-controller="@typeof(CompanyContactsController).GetNameOfController()" asp-action="@nameof(CompanyContactsController.Delete)"
                           asp-route-id="@contact.EncryptedID" asp-route-returnUrl="@currentUrl">@Localizer["Delete"]</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-controller="@typeof(CompanyContactsController).GetNameOfController()" asp-action="@nameof(CompanyContactsController.Index)"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-light @prevDisabled">
    @Localizer["Previous"]
</a>
<a asp-controller="@typeof(CompanyContactsController).GetNameOfController()" asp-action="@nameof(CompanyContactsController.Index)"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-light @nextDisabled">
    @Localizer["Next"]
</a>

@section Scripts {
    <script src="~/js/SearchInputClick.js"></script>
}