@using WeldingPassportsApp.Stores;
@model ExamCenterCreateViewModel

@{
    ViewData["Title"] = Localizer["Exam Center Create"];
    string returnUrl = ViewBag.ReturnUrl;
    string currentUrl = ViewBag.CurrentUrl;

    bool userCanCreateCompanyContacts = User.CanCreate(ClaimsTypesStore.CompanyContacts);
}

<h1>@Localizer["Create Exam Center"]</h1>
<hr/>
<form asp-controller="@typeof(ExamCentersController).GetNameOfController()" asp-action="@nameof(ExamCentersController.Create)" 
      asp-route-returnUrl="@returnUrl" methode="post" onsubmit="PrepareFormOnsubmit()">
    <div class="form-group row mb-3">
        <label asp-for="@Model.CompanyID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10 align-self-center">
            <div class="input-group">
                <select asp-for="@Model.CompanyID" class="form-control" asp-items="@Model.CompanySelectList" onchange="OnChangeCompanyID()">
                    <option value="" selected disabled hidden>@Localizer["Chooze a company"]</option>
                </select>
                <a class="btn btn-primary" id="CompanyIDCreateButton" type="button" asp-controller="@typeof(CompaniesController).GetNameOfController()" asp-action="@nameof(CompaniesController.Create)" asp-route-ReturnUrl="@currentUrl">@Localizer["Create"]</a>
                <input class="btn btn-primary" id="CompanyIDClearButton" type="button" value="@Localizer["Clear"]" onclick="OnClickClear($('#CompanyID'))" />
            </div>
            <span asp-validation-for="@Model.CompanyID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label asp-for="@Model.CompanyContactID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10 align-self-center">
            <div class="input-group">
                <select asp-for="CompanyContactID" class="form-control" asp-items="@Model.CompanyContactSelectList" onchange="OnChangeCompanyContactID()" disabled>
                    @if (Model.CompanyContactSelectList.Count() == 0)
                    {
                        <option value="" selected disabled>@Localizer["No contacts"]</option>
                    }
                    else
                    {
                        <option value="" selected disabled hidden>@Localizer["Choose a contact"]</option>
                    }
                </select>
                @if (userCanCreateCompanyContacts)
                {
                    <a class="btn btn-primary" id="CompanyContactIDCreateButton" type="button" asp-controller="@typeof(CompanyContactsController).GetNameOfController()" asp-action="@nameof(CompanyContactsController.Create)" asp-route-returnUrl="@currentUrl" hidden>@Localizer["Create"]</a>
                }
                <input class="btn btn-primary" id="CompanyContactIDClearButton" type="button" value="@Localizer["Clear"]" onclick="OnClickClear($('#CompanyContactID'))" disabled/>
            </div>
            <span asp-validation-for="CompanyContactID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label asp-for="IsActive" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10 align-self-center">
            <div class="input-group">
                <input asp-for="IsActive" class="form-check-inline" style="margin-left:0"/>
            </div>
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary" style="width:auto">@Localizer["Save"]</button>
            <a href="@returnUrl" class="btn btn-primary" style="width:auto">@Localizer["Cancel"]</a>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/OnClickClear.js"></script>
    <script type="module" src="~/js/ExamCenters/PrepareFormOnsubmit.js"></script>
    <script type="module" src="~/js/ExamCenters/OnChangeCompanyID.js"></script>
    <script type="module" src="~/js/ExamCenters/OnChangeCompanyContactID.js"></script>
}