@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model LoginViewModel

@{
    ViewBag.Title = @Localizer["User Login"];
}

<h1>@Localizer["Welding Passports App"]</h1>
<hr />
@{
    if (Model.ExternalLogins.Count == 0)
    {
        <div>No external logins configured</div>
    }
    else
    {
        <div class="row align-items-center" style="min-height: 75vh">
            <form class="col-md-12 " method="post" asp-controller="@typeof(AccountController).GetNameOfController()"
            asp-action="@nameof(AccountController.ExternalLogin)" asp-route-returnUrl="@Model.ReturnUrl">
            <div class="text-center">
                <h1>@Localizer["External Login"]</h1>
                @foreach (var provider in Model.ExternalLogins)
                {
                    <button type="submit" class="btn btn-primary" style="width:auto"
                            name="provider"
                            value="@provider.Name"
                            title="Login using your @provider.DisplayName account">
                        @provider.DisplayName
                    </button>
                }
            </div>
        </form>
        </div>
    }
}